data/*
runtime/*
*.log
*.pyc
nohup.out
.run.pid
*.pyc
.tmp
backup/
*.w2v
*.npy
tensorflow_serving
tensorflow_model_server
seg.py
test/
servers/deployments/
servers/logs/
chatbot-rnn/
*_res
*_res_*
*.txt
YDP
tornado_html.py
online_package
